#compressed-info{
	display: inline;
}

#important_info{
	padding: 1em;
}

@media (min-width: 768px) {
	#compressed-info > *{
		display: inline;
	}	
  #important_info{
  	float: right;
  }
	 #compressed-info iframe{
		float: left;
	}
}