.editTable{
	border: 2px solid;
	padding: 3px;
}

.editLine:not(:last-child){
	border-bottom: 1px solid;
}

.editLine{
	padding: 0.4em;
	/*position: relative;*/
	/*display: ;*/
}

.editLine *{
	display: inline-block;
}

.editInfo{
	text-align: center;
}

.edit-button{
/*	position: absolute;
	right: 0;*/
	float:right;
}

 .edit-field{
	display: none;
}